<nav>
    <ul id="MenuItems">
        <li><a href="/index">Acasă</a></li>
        <li><a href="/despre">Despre noi</a></li>
        <li><a href="/produse">Produse</a></li>
        <li><a href="/Stock">Stock</a></li>
    <li><a href="/customers">Companii</a></li>
        <li><a href="/">Cont</a></li>
        <li><a href="/coscumparaturi">Coș cumpărături</a></li>
    </ul>
</nav>