
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
   
   <div class="container">
<div class="navbar">
    <div class="logo">
        
    </div>
    <%- include("./partials/nav.ejs") %>
    <img src="/geanta.jpg" width="30px" height="30px">
    
    </div>

    </div>
<!------account-page----->
   <div class="account-page">
       <div class="container">
           <div class="row">
               <div class="col-2">
                   <img src="/Pharmacy-background-ph.jpg" width="100%">
               </div>
               <div class="col-2">
                   <div class="form-container">
                       <div class="form-btn">
                           <span onclick="login()">Login</span>
                           <span onclick="register()">Register</span>
                           <hr id="Indicator">
                       </div>
                       <form id="LoginForm" action="/login" method="POST">
                           <input id="user" type="text" placeholder="Numele utilizatorului" name="nume">
                           <input id="password" type="password" placeholder="Parola" name="parola">
                           <button type="submit" class="btn">Autentificare</button>
                           <a href="">Ai uitat parola?</a>
                       </form>
                        <form id="RegForm" action="/register" method="POST">
                           <input id="nume"type="text" placeholder="Numele utilizatorului" name="nume">
                           <input id="email" type="email" placeholder="Email" name="email">
                           <input id="parola" type="password" placeholder="Parola" name="parola">
                           <button type="submit" class="btn">Înregistrare</button>
                          
                       </form>
                   </div>
               </div>
           </div>
       </div>
    </div>


    <!------js for toggle menu----->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else{
                MenuItems.style.maxHeight = "0px";
                
            }
        }
    </script>
    <!------js for toggle form----->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");
        var nume = document.getElementById("nume");
        var password = document.getElementById("password");
        var user = document.getElementById("user");
        var mail = document.getElementById("mail");
        var parola = document.getElementById("parola");
        var register = document.getElementById("register");



        function register(){
            RegForm.style.transform="translateX(0px)";
            LoginForm.style.transform="translateX(0px)";
            Indicator.style.transform="translateX(100px)";
        }
        function login(){
            RegForm.style.transform="translateX(300px)";
            LoginForm.style.transform="translateX(300px)";
            Indicator.style.transform="translateX(0px)";
        }

        LoginForm.addEventListener("submit",() => {
            console.log(nume.value);
            console.log(password.value);
        })
        // register.addEventListener("click",() => {
        //     console.log(user.value);
        //     console.log(mail.value);
        //     console.log(parola.value);

        //     var data = {
        //         user:user.value,
        //         mail:mail.value,
        //         parola:parola.value
        //     }

        //     fetch('http://localhost:3000/register', {
        //          method: 'POST',
        //          headers: {
        //             'Content-Type': 'application/json'
        //             // 'Content-Type': 'application/x-www-form-urlencoded',
        //             },
        //          body: JSON.stringify(data)
        //     })
        //     .then(response => response.json())
        //     .then(result => {
        //         console.log('Success:', result);
        //     })
        //     .catch(error => {
        //         console.error('Error:', error);
        //     });
        // })
    </script>
   
</body>

</html>