
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
   
   <div class="container">
<div class="navbar">
    <div class="logo">
        
    </div>
    <%- include("./partials/nav.ejs") %>
    <img src="/geanta.jpg" width="30px" height="30px">
    
    </div>

    </div>
<!------account-page----->
   <div class="account-page">
       <div class="container">
           <div class="row">
               <div class="col-2">
                   <img src="/Pharmacy-background-ph.jpg" width="100%">
               </div>
               <div class="col-2">
                   <div class="form-container">
                       <div class="form-btn">
                           <span onclick="login()">Login</span>
                           <span onclick="register()">Register</span>
                           <hr id="Indicator">
                       </div>
                       <form id="LoginForm">
                           <input type="text" placeholder="Numele utilizatorului">
                           <input type="password" placeholder="Parola">
                           <button type="submit" class="btn">Autentificare</button>
                           <a href="">Ai uitat parola?</a>
                       </form>
                        <form id="RegForm">
                           <input type="text" placeholder="Numele utilizatorului">
                             <input type="email" placeholder="Email">
                           <input type="password" placeholder="Parola">
                           <button type="submit" class="btn">Înregistrare</button>
                          
                       </form>
                   </div>
               </div>
           </div>
       </div>
    </div>


    <!------js for toggle menu----->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else{
                MenuItems.style.maxHeight = "0px";
                
            }
        }
    </script>
    <!------js for toggle form----->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");
        function register(){
            RegForm.style.transform="translateX(0px)";
            LoginForm.style.transform="translateX(0px)";
            Indicator.style.transform="translateX(100px)";
        }
        function login(){
            RegForm.style.transform="translateX(300px)";
            LoginForm.style.transform="translateX(300px)";
            Indicator.style.transform="translateX(0px)";
        }
    </script>
   
</body>

</html>