
<html lang="en">
    
<%- include("./partials/head.ejs") %>

<body>
    <div class="header">
   <div class="container">
<div class="navbar">
    <div class="logo">
        <a href="index.ejs"></a>

    </div>
    <%- include("./partials/nav.ejs") %>
    
    <img src="/geanta.jpg" width="30px" height="30px">
    
    </div>
<div class="row">
    <div class="col-2">
        <h1>Bun venit la farmacia noastră!</h1>
        <p>Ai o varietate de produse medicinale de înaltă calitate din care să alegi!</p>

    </div>
    <div class="col-2">    
        <img src="/Pharmacy-background-ph.jpg" width="100%">
     
        </div>
    </div>
    </div>
    </div>



    <!------js for toggle menu----->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else{
                MenuItems.style.maxHeight = "0px";
                
            }
        }
    </script>
</body>

</html>