
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
   
   <div class="container">
<div class="navbar">
    
    <%- include("./partials/nav.ejs") %>
    
    <img src="/geanta.jpg" width="30px" height="30px">
    
    </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   <div class="row">
    <div class="col-4">
    <div class="shop-items">
        <div class="shop-item">
            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>


    
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="shop-item-details">
                <span class="shop-item-price">"Pret produs"</span>
                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
            </div>
    
    </div>
    </div>
         </div>
            <div class="col-4">
            <div class="shop-items">
                <div class="shop-item">
                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>

       
            
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="shop-item-details">
                        <span class="shop-item-price">"Pret produs"</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                    </div>
            
            </div>
            </div>
                 </div>
                 <div class="col-4">
                    <div class="shop-items">
                        <div class="shop-item">
                            <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                            <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
        
               
                    
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-item-details">
                                <span class="shop-item-price">"Pret produs"</span>
                                <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                            </div>
                    
                    </div>
                    </div>
                         </div>
                         <div class="col-4">
                            <div class="shop-items">
                                <div class="shop-item">
                                    <a><span class="shop-item-title">"Informatii despre produs: cantitate calitate"</span></a>
                                    <a><img class="shop-item-image" src="/Pharmacy-background-2.jpg"></a>
                
                       
                            
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="shop-item-details">
                                        <span class="shop-item-price">"Pret produs"</span>
                                        <button class="btn btn-primary shop-item-button" type="button">ADĂUGAȚI ÎN COȘ</button>
                                    </div>
                            
                            </div>
                            </div>
                                 </div>
   </div>
   

</body>
</html>